<%- include("header"); -%>
<div class="container-fluid popGame-container">
  <div class="row">
    <div class="col-lg-6 text-center textTab ">
        <h1><img class="logo" src="/img/logo.png" alt="" width="240" height="60"></h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mollis aliquam ut porttitor leo. At quis risus sed vulputate. Maecenas volutpat blandit aliquam etiam.
          Odio facilisis mauris sit amet. Tellus rutrum tellus pellentesque eu tincidunt tortor. Feugiat nisl pretium fusce id velit ut tortor pretium viverra. Enim sit amet venenatis urna cursus eget nunc scelerisque viverra. In ante metus dictum at tempor commodo ullamcorper a. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Tortor aliquam nulla facilisi cras fermentum odio. Ultrices sagittis orci a scelerisque purus semper eget. Turpis massa sed elementum tempus egestas sed sed risus. Vitae turpis massa sed elementum. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Habitant morbi tristique senectus et netus. Nec feugiat in fermentum posuere urna nec tincidunt praesent. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Malesuada fames ac turpis egestas. Aliquam eleifend mi in nulla posuere sollicitudin aliquam. Id eu nisl nunc mi ipsum faucibus. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Ornare arcu odio ut sem nulla.
          </p>
    </div>
    <div class="col-lg-6 ">
        <h1>Most Popular Games Here</h1>
        <div class="popGame01 mb-1">
            <a href="#"><img src="../img/r-sideBarIMG/sb365Color.png" id="sbClick" class="sbIMG zomeOut" width="100%" alt="Game01"></a>
        </div>
        <div class="popGame01 mb-1">
            <a href="#"><img src="../img/r-sideBarIMG/wwbet.png" id="wbClick" class="wwwBetIMG imgGrayScale imgClick zomeOut" width="100%" alt="Game01"></a>
        </div>
        <div class="popGame01 mb-1">
            <a href="#"><img src="../img/r-sideBarIMG/sv388.png" id="wbClick" class="wwwBetIMG imgGrayScale imgClick zomeOut" width="100%" alt="Game01"></a>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid bank-row">
  <div class="row">
    <h1>Supported Banks</h1>
    <div class="col-sm-12 mt-3 upper-bank">
      <img src="../img/bank/kbz.png" width="125" alt="kbz-logo">
      <img src="../img/bank/aya.png" width="125" alt="aya">
      <img src="../img/bank/CB.png" width="125" alt="CB">
  <img src="../img/bank/yoma.png" width="200" alt="yoma">
    </div>
    <div class="col-sm-12 mt-4 lower-bank">
      <img src="../img/bank/wave.svg" width="200" alt="wave">
      <img src="../img/bank/kbzPay.png" width="90" alt="kbzPay">
      <img src="../img/bank/okdollar.png" width="80" alt="okdollar">
    </div>
  </div>

</div>
<div class="container-fluid promo-sec">
    <h1>Promotions</h1>
    <div class="row ">
      <div class="card-deck d-flex">
          <div class="col-lg-4">
              <div class="card bg-dark mb-3 me-2 box-shadow">
                  <div class="card-header">
                    <h5 class="card-title">New Member</h5>
                     <h6 class="card-subtitle mb-2 text-muted">50% bonus</h6>
                  </div>
                  <div class="card-body">
                    egestas. Aliquam eleifend mi in nulla posuere sollicitudin aliquam. Id eu nisl nunc mi ipsum faucibus.
                     Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Ornare arcu odio ut sem nulla.
                  </div>
                  <div class="card-footer text-end">
                      <button type="button" name="play" class="btn btn-warning me-2">Play</button>
                      <button type="button" name="play" class="btn btn-warning ">Contact Now</button>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="card bg-dark mb-3 me-2 box-shadow">
                  <div class="card-header">
                    <h5 class="card-title">Daily Bonus</h5>
                     <h6 class="card-subtitle mb-2 text-muted">50% bonus</h6>
                  </div>
                  <div class="card-body">
                    egestas. Aliquam eleifend mi in nulla posuere sollicitudin aliquam. Id eu nisl nunc mi ipsum faucibus.
                     Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Ornare arcu odio ut sem nulla.
                  </div>
                  <div class="card-footer text-end">
                      <button type="button" name="play" class="btn btn-warning me-2">Play</button>
                      <button type="button" name="play" class="btn btn-warning ">Contact Now</button>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="card bg-dark mb-3 me-2 box-shadow">
                  <div class="card-header">
                    <h5 class="card-title">Member Invitation</h5>
                     <h6 class="card-subtitle mb-2 text-muted">30% bonus</h6>
                  </div>
                  <div class="card-body">
                    egestas. Aliquam eleifend mi in nulla posuere sollicitudin aliquam. Id eu nisl nunc mi ipsum faucibus.
                     Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Ornare arcu odio ut sem nulla.
                  </div>
                  <div class="card-footer text-end">
                      <button type="button" name="play" class="btn btn-warning me-2">Play</button>
                      <button type="button" name="play" class="btn btn-warning ">Contact Now</button>
                  </div>
              </div>
          </div>
      </div>

    </div>



</div>
<div class="container-fluid game-sec text-center">
 <h1>Sponsorship Games</h1>
     <img src="../img/games/joker.png" class="gameIcon" alt="Joker" width="125">
      <img src="../img/games/pp.png" class="gameIcon" alt="pp" width="125">
       <img src="../img/games/pg.png" class="gameIcon" alt="pg" width="125" >
        <img src="../img/games/spade.png"  class="gameIcon" alt="spade" width="125">
        <img src="../img/games/ae.png"  class="gameIcon" alt="AE" width="125">
 </div>
    </div>

<%- include("footer"); -%>
