<%- include("header"); -%>
<div class="container-fluid popGame-container">
  <div class="row">
    <div class="col-lg-6 text-center textTab ">
        <h1><img class="logo" src="/img/logo.png" alt="" width="240" height="60"></h1>
        <p>
          မြန်မာနိုင်ငံအတွက် အကောင်းဆုံးသော အွန်လိုင်း ကာစီနို ဝက်ဆိုဒ်
          အင်တာနက် ကာစီနိုတစ်ခုခုကို ကျွန်ုပ်တို့ အကြံမပြုမီ ၎င်းက စိတ်ချရသည့် ငွေထုတ်ပေးမှုများ၊ ကတိတည်သည့် ဘောနပ်စ်များ၊ သုံးစွဲသူ ဝန်ဆောင်မှုဆိုင်ရာ ဖြေကြားချက်များ၊ ဘေးကင်ရေး၊ လုံခြုံရေးနှင့် ယုံကြည်စိတ်ချရမှုအတွက် တင်းကျပ်သော စစ်ဆေးမှုများကို မဖြစ်မနေ ဖြတ်ကျော်ရမည်။ ကျွန်ုပ်တို့၏ သုံးစွဲသူများအပေါ် အန္တရာယ်ဖြစ်စေမည်ဟု ကျွန်ုပ်တို့ ခံစားရသည့်
          ကာစီနိုတစ်ခုကို ကျွန်ုပ်တို့ ကြုံတွေ့ရသည့်အခါတိုင်း ရှောင်ရှားရန် ၎င်းတို့ကို အမည်ပျက်စာရင်းတွင်
          ထည့်ပါသည်၊ ဒါကတော့ နောက်ဆုံး စာရင်းပါ။၊<br />
          ကာစီနိုတစ်ခုစီကို ကျွန်ုပ်တို့ နောက်ထပ် မစစ်ဆေးမီ၊ ကာစီနိုမှာ စိတ်ချရခြင်း ရှိမရှိ ကျွန်ုပ်တို့ကို ပြသသည့် အဓိက အချက်များအပေါ် စုံစမ်းစစ်ဆေးမှု ပြုလုပ်သွားပါမည်။ လိုင်စင်ရ ကာစီနိုများကိုသာ ကျွန်ုပ်တို့ သုံးသပ်ချက်ပေးသောကြောင့် ကာစီနို သို့မဟုတ် အွန်လိုင်း လောင်းကစားဆိုက်၏ လိုင်စင်မှာ အရေးကြီး သတ်မှတ်ချက်တစ်ခု ဖြစ်ပါသည်။
          </p>
    </div>
    <div class="col-lg-6 ">
        <h1>နာမည်အကြီးဆုံး ဂိမ်းများ</h1>
        <div class="popGame01 mb-1">
            <a href="#"><img src="../img/r-sideBarIMG/sb365Color.png" id="sbClick" class="sbIMG zomeOut" width="100%" alt="Game01"></a>
        </div>
        <div class="popGame01 mb-1">
            <a href="#"><img src="../img/r-sideBarIMG/wwbet.png" id="wbClick" class="wwwBetIMG imgGrayScale imgClick zomeOut" width="100%" alt="Game01"></a>
        </div>
        <div class="popGame01 mb-1">
            <a href="#"><img src="../img/r-sideBarIMG/sv388.png" id="wbClick" class="wwwBetIMG imgGrayScale imgClick zomeOut" width="100%" alt="Game01"></a>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid bank-row">
  <div class="row">
    <h1>ငွေသွင်းငွေလွှဲနိုင်သာ ဘဏ်များ</h1>
    <div class="col-sm-12 mt-3 upper-bank">
      <img src="../img/bank/kbz.png" width="125" alt="kbz-logo">
      <img src="../img/bank/aya.png" width="125" alt="aya">
      <img src="../img/bank/CB.png" width="125" alt="CB">
  <img src="../img/bank/yoma.png" width="200" alt="yoma">
    </div>
    <div class="col-sm-12 mt-4 lower-bank">
      <img src="../img/bank/wave.svg" width="200" alt="wave">
      <img src="../img/bank/kbzPay.png" width="90" alt="kbzPay">
      <img src="../img/bank/okdollar.png" width="80" alt="okdollar">
    </div>
  </div>

</div>
<div class="container-fluid promo-sec">
    <h1>ပရိုမိုးရှင်း</h1>
    <div class="row ">
          <div class="col-sm-11 col-lg-4">
              <div class="card bg-dark mb-3 me-2 box-shadow">
                  <div class="card-header">
                    <h5 class="card-title">မန်ဘာအသစ်</h5>
                     <h6 class="card-subtitle mb-2 text-muted">၅၀ရာခိုင်နှုန်း ဘောနပ်</h6>
                  </div>
                  <div class="card-body">
                   ကာစီနိုတစ်ခုအတွက် ကျွန်ုပ်တို့ထံမှ ထောက်ခံချက်ရရန် အရေးအကြီးဆုံးအပိုင်းမှာ ငွေထည့်သွင်းရန်
                    ဘယ်လောက် လွယ်ကူကြောင်း ပြသဖို့ ဖြစ်ပါသည်။ ဤအဆင့်တွင်၊ လက်ခံထားသည့် အပ်နှံငွေ နည်းလမ်းများ။
                  </div>
                  <div class="card-footer text-end">
                      <button type="button" name="play" class="btn btn-warning me-2">ကစားပါ</button>
                      <button type="button" name="play" class="btn btn-warning ">အခုပဲ ဆက်သွယ်ပါ</button>
                  </div>
              </div>
          </div>
          <div class="col-sm-11 col-lg-4">
              <div class="card bg-dark mb-3 me-2 box-shadow">
                  <div class="card-header">
                    <h5 class="card-title">နေ့စဉ် ဘောနပ်</h5>
                     <h6 class="card-subtitle mb-2 text-muted">၅၀ရာခိုင်နှုန်း ဘောနပ်</h6>
                  </div>
                  <div class="card-body">
                    ကာစီနိုတစ်ခုအတွက် ကျွန်ုပ်တို့ထံမှ ထောက်ခံချက်ရရန် အရေးအကြီးဆုံးအပိုင်းမှာ ငွေထည့်သွင်းရန်
                     ဘယ်လောက် လွယ်ကူကြောင်း ပြသဖို့ ဖြစ်ပါသည်။ ဤအဆင့်တွင်၊ လက်ခံထားသည့် အပ်နှံငွေ နည်းလမ်းများ။
                  </div>
                  <div class="card-footer text-end">
                      <button type="button" name="play" class="btn btn-warning me-2">ကစားပါ</button>
                      <button type="button" name="play" class="btn btn-warning ">အခုပဲ ဆက်သွယ်ပါ</button>
                  </div>
              </div>
          </div>
          <div class="col-sm-11 col-lg-4">
              <div class="card bg-dark mb-3 me-2 box-shadow">
                  <div class="card-header">
                    <h5 class="card-title">မန်ဘာသစ် မိတ်ဆက်ဘောနပ်</h5>
                     <h6 class="card-subtitle mb-2 text-muted">၃၀ ရာခိုင်နှုန်းဘောနပ်</h6>
                  </div>
                  <div class="card-body">
                    ကာစီနိုတစ်ခုအတွက် ကျွန်ုပ်တို့ထံမှ ထောက်ခံချက်ရရန် အရေးအကြီးဆုံးအပိုင်းမှာ ငွေထည့်သွင်းရန်
                     ဘယ်လောက် လွယ်ကူကြောင်း ပြသဖို့ ဖြစ်ပါသည်။ ဤအဆင့်တွင်၊ လက်ခံထားသည့် အပ်နှံငွေ နည်းလမ်းများ။
                  </div>
                  <div class="card-footer text-end">
                      <button type="button" name="play" class="btn btn-warning me-2">ကစားပါ</button>
                      <button type="button" name="play" class="btn btn-warning ">အခုပဲ ဆက်သွယ်ပါ</button>
                  </div>
              </div>
          </div>
      </div>

    </div>


<div class="container-fluid game-sec text-center">
 <h1>ဆောာ့နိုင်သော ဂိမ်းများ</h1>
     <img src="../img/games/joker.png" class="gameIcon" alt="Joker" width="125">
      <img src="../img/games/pp.png" class="gameIcon" alt="pp" width="125">
       <img src="../img/games/pg.png" class="gameIcon" alt="pg" width="125" >
        <img src="../img/games/spade.png"  class="gameIcon" alt="spade" width="125">
        <img src="../img/games/ae.png"  class="gameIcon" alt="AE" width="125">
 </div>
    </div>

<%- include("footer"); -%>
