body{
  background-color: #000;
  color:#fff;
  font-family: 'Signika Negative', sans-serif;
}
a{
  text-decoration: none;
  color:#fff;
}
::selection{
  background:#E7C950;
}
.logo:hover{
  transform:scale(1.1);
  transition: 500ms;
}
.carousel-indicators{
  z-index: 1;
}
.cus-nav{
  background-color: #000;
  color:#fff;
  padding:10px 20%;
  border-bottom: 1px solid #E7C950;
}
button[type=Register]{
  background:linear-gradient(to bottom,#E7C950,#FFF,#E7C950);
  color:#000;
}
button[type=Login]{
  background:linear-gradient(to bottom,#FFF,#CCC,#FFF);
  color:#000;
}
.tab-container{
  background:#000;
  padding:10px 25px;
}
.tab-container .nav-item{
  font-size: 20px;
  margin-right: 60px;
}
.popGame-container{
  padding:25px;
}
.nav-item{
  text-align: center;
}
.nav-link{
  color:#fff;
}
.nav-link:hover{
  color:#E7C950;
}
.nav-link img{
 margin-top: 5px;
}
.icMargin-2{
  margin-left: 6px;
}
.textTab{
  vertical-align: center;
  padding:25px 5%;
}
.tab-container{
  border-top:1px solid #E7C950;
  border-bottom: 1px solid #E7C950;
}
.zomeOut-2{
  transform:scale(1.1);
  transition: 500ms;
}

.zomeOut:hover{
  transform:scale(1.01);
  transition: 500ms;
}

.imgGrayScale{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.bank-row{
  background:#292929;
  padding:20px 10%;
  text-align: center;
}
.upper-bank img{
  margin-right: 50px;
}
.lower-bank img{
  margin-right: 50px;
}

.promo-sec{
  text-align:center;
  padding:15px 15%;
}
.card-area{
  text-align: center;
}
.game-sec{
  padding:20px 15%;
  background:#292929;
}
.gameIcon{
  margin-right: 80px;
}

/* footer */
footer{
  padding:10px 10px;
}
.rightSide{
  float:left;
}
.list-group {
  margin:0;
  padding:0;
}
.list-group li{
  padding:0 15px;
  background:none;
  color:#fff;
  border-right: 1px solid #ccc;
}
.list-group-horizontal>.list-group-item:last-child{
    border-right:none;
}
.leftSide{
  float:right;
}
/* Register Form */
.regForm{
  width:100%;
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  padding:30px 10%;
  background:#000;
  padding:0 auto;
  opacity: 0.7;
  z-index: 1;
  transition: all 0.2s;
}
.form-area{
  background:linear-gradient(to bottom,#3A3A3A,#8B8B8B,#3A3A3A);
  position: absolute;
  padding:30px 30px;
  margin: 0 auto;
  top:25%;
  left:25%;
  width:50%;
  display: none;
  z-index: 1;
  position: block;
  border-radius: 20px;
}
.no-display{
  display:none;
}
.btn-register{
  background:linear-gradient(to bottom,#E7C950,#FFF,#E7C950);
  color:#000;
}
.btn-cancel{
  background:linear-gradient(to bottom,#C11D1D,#B63636,#C11D1D);
  color:#fff;
}
.form-field{
  position: relative;
}
.form-field>label{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 0.2s;
  touch-action: manipulation;
  color:#000;
}
.form-field input:focus + label{
  bottom: 100%;
  margin-top: -20px;
  color:#fff;
}
.form-field input:valid + label{
  bottom: 100%;
  margin-top: -20px;
  color:#fff;
}
